.work-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position:top left, bottom right;
  margin:10px;
}
.text-center{
  text-align: center;
}
.secondery-bg{
  background-color: rgba(255, 248, 243, 1);
}
.toha{
  color: #FD6E0A;
} 
.btn-primay{
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgba(253, 110, 10, 1);
  border: none;
  margin-right: 5px;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}
.img{
  max-height: 1000px;
  max-width: 750px;
}
.dark-2{
  color: rgba(71, 71, 71, 1);
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: rgba(24, 24, 24, 1);
}
.sectiion-description{
  color: rgba(117, 117, 117, 1);
}
.greeting{
 color:  rgba(71, 71, 71, 1);
 font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.heading-title{
  color: rgba(24, 24, 24, 1);
  font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.banner-description{
  color:rgba(117, 117, 117, 1);
  font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.banner{
  display: flex;
  justify-content: space-between; 
  margin: 0 35px 0 200px;
}
.banner-content{
  max-width: 580px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 20px;
}
nav ul{
  display: flex;
  align-items: center;

}
nav ul li{
  list-style: none;
  margin-right: 50px;
}
nav li a{
  text-decoration: none;

}
/* main */
main{
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top:130px ;
  margin-bottom: 130px;
}
/* about style */
.about{
  border-radius:10px ;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-description{
  font-weight: 600;
}
.skills-container{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
/* resume */
.resume-container{
  display: flex;
  gap: 24px;

}
.experience-description ,.experience-sub-title{
  color:rgba(117, 117, 117, 1) ;
}
.experience-sub-title{
 font-size: 20px;
 font-weight: 600;
}
.experience-title{
  color: rgba(71, 71, 71, 1);
  font-size: 25px;
  font-weight: 700;
}
.resume-column-title{
 color:  rgba(71, 71, 71, 1);
 font-size: 30px;
 font-weight: 700;
}
.section-title{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.button{
  text-align: center;
}